<% if notice.present? %>
<h4 class="alert alert-success" role="alert" id="notice"><strong><%= notice %></strong></h4>
<% end %>

<h1 style = "display: -webkit-inline-box;">Listing Credit Holders</h1>
<%= link_to 'New Credit Holder', new_credit_holder_path, :class => 'btn btn-default btn-large', :style => 'display: -webkit-inline-box; float:right;' %>

<%= form_tag credit_holders_path, :method => "get", :class => "form-horizontal", :id => "credit_holders_search" do%>
  <div class="form-group">
   <div class="col-sm-10">
    <%= text_field_tag :search, params[:search], :placeholder => "Enter Customer Name Here...", :class =>"form-control"%>
   </div>
    <%= submit_tag "search", :name => nil, :class => "btn btn-default" %>
    <%= link_to root_path, remote: true, :class => 'btn btn-default', :id => 'reload' do %>
      <i class="fa fa-undo"></i>
    <% end %>
  </div>
<% end %>

<div id="credit_holders">
  <%= render 'credit_holders' %>
</div>

